/* Dark blue */
.dblue
{
    background-color: #003785;
}

/* Dark middle blue */
.dmblue
{
    background-color: #1465bb;
}

/* Middle blue */
.mblue
{
    background-color: #2196f3;
}

/* Light middle blue */
.lmblue
{
    background-color: #81c9fa;
}

/* Light blue */
.lblue
{
    background-color: #b9ffff;
}

.white
{
    background-color: white;
}

.messages
{
    width: 25%;
    float: left;
    border: 1px solid black;
    overflow: auto;
}

.full-height
{
    height: 90vh;
}

.names:hover
{
    background-color: #2196f3
}

.names
{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
    width: 91%;
    text-align: center;
}

.container {
    display: flex;
}

.foto {
    width: 3%; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto; /* Para mantener la relación de aspecto */
}

.contenido {
    flex-grow: 1; /* Hace que el div contenido ocupe todo el espacio restante */
    border: 1px dashed black;
    margin-left: 4px;
    padding: 4px;
}

.chat
{
    width: 74%;
    float: left;
    border: 1px solid black;
    overflow: auto;
    margin-left: 10px;
}

.center
{
    text-align: center;
}
