body 
{
    font-family: Arial, sans-serif; /* Establece la fuente de texto */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
}

.container 
{
    display: flex; /* Establece el contenedor principal como flexbox */
    height: 100vh; /* Establece la altura del contenedor al 100% del viewport */
}

.chat-list__container 
{
    width: 20%; /* Establece el ancho del área de usuarios */
    padding: 20px; /* Añade un relleno alrededor del contenido */
    overflow-y: auto; /* Añade una barra de desplazamiento vertical si es necesario */
}

.user-name 
{
    float: left;
    border-bottom: 1px solid #848080d3;
    margin-bottom: 10px;
}

.user-name:hover
{
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.592);
}

.username_name
{
    float: left;
    display: flex; /* Establece el contenedor como flexbox */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
}


.chat-window 
{
    flex: 1; /* El área de chat ocupará el espacio restante */
    display: flex; /* Establece el área de chat como flexbox */
    flex-direction: column; /* Los elementos dentro del área de chat se apilan verticalmente */
    background-image: url("public/images/background.webp")
}

.message-container 
{
    flex: 1; /* Las áreas de mensajes ocuparán el espacio restante */
    overflow-y: auto; /* Añade una barra de desplazamiento vertical si es necesario */
    padding: 20px; /* Añade un relleno alrededor del contenido */
}

.new-message__form 
{
    display: flex; /* Establece el área de entrada como flexbox */
    padding: 20px; /* Añade un relleno alrededor del contenido */
}

input[type="text"] 
{
    flex: 1; /* El campo de entrada ocupará todo el espacio disponible */
    padding: 10px; /* Añade un relleno alrededor del contenido */
    font-size: 16px; /* Establece el tamaño de fuente */
    border: 1px solid #ccc; /* Establece un borde */
    border-radius: 5px; /* Establece la esquina redondeada */
}

button 
{
    padding: 10px 20px; /* Establece el relleno dentro del botón */
    font-size: 16px; /* Establece el tamaño de fuente */
    background-color: 	#4682B4; /* Establece el color de fondo */
    color: white; /* Establece el color del texto */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Establece la esquina redondeada */
    margin-left: 10px; /* Establece el margen a la izquierda */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}
.chat-name
{
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.863);
    margin-top: 0px;
    padding: 10px;
}

.imagen_circulo 
{
    float: left;
    width: 12%;
    border-radius: 50%; /* Aplica un borde redondeado */
    overflow: hidden; /* Oculta cualquier contenido fuera del borde */
    margin-right: 10px; /* Añade un margen a la derecha para separar la imagen del nombre de usuario */
    margin-top: 5px;
    margin-bottom: 5px;
}

.new-chat__input {
    flex-grow: 1;
    padding: 0.2em;
    margin-right: .3em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#new-chat__button
{
    width: 40%;
    box-sizing: border-box;
    float: left;
}

