/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #2e2e2e;
}

:root{
    --margin: 5px;
    --padding: 5px;
}

/* Container FULL SITE */
.flex-box {
    display: flex;
    flex-direction: row;
    margin-top: var(--navbar);
} 

/* Chat list container LEFT SIDE */
.left-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: var(--margin);
}

.left-container h2 {
    margin-left: var(--margin);
}

.new-chat {
    display: flex;
    flex-direction: row;
}

.new-chat input{
    margin: var(--margin);
    padding: var(--padding);
}

.new-chat button{
    margin: var(--margin);
    padding: var(--padding);
}

.chat-list {
    display: flex;
    flex-direction: column;
    margin: var(--margin);
}

.chat-list li {
    list-style-type: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px #0000001a;;
}

.chat-list li:hover {
    background: #000000;
}

/* RIGHT SIDE */

.right-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: var(--margin);
}

.right-container h2 {
    margin-left: var(--margin);
}

.message-container {
    margin: var(--margin);
}

.new-message {
    display: flex;
    flex-direction: row;
}

.new-message input{
    margin: var(--margin);
    padding: var(--padding);
}

.new-message button{
    margin: var(--margin);
    padding: var(--padding);
}
