/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #2e2e2e;
}

.flex-box input {
    background: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: text;
}

.flex-box input::placeholder {
    color: #217aff;
}

button {
    background: #217aff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 200ms;
}

button:hover {
    transform: scale(0.9);
    background-color: #0040a0;
}

:root{
    --margin: 5px;
    --padding: 5px;
}

/* Container FULL SITE */
.flex-box {
    display: flex;
    flex-direction: row;
    margin-top: var(--navbar);
} 

/* Chat list container LEFT SIDE */
.left-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: var(--margin);
}

.left-container h2 {
    margin-left: var(--margin);
}

.new-chat {
    display: flex;
    flex-direction: row;
}

.new-chat input{
    margin: var(--margin);
    padding: var(--padding);
}

.new-chat button{
    margin: var(--margin);
    padding: var(--padding);
}

.chat-list {
    display: flex;
    flex-direction: column;
    margin: var(--margin);
}

.chat-list li {
    list-style-type: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px #0000001a;;
    padding: 10px;
    margin: var(--margin);
    margin-bottom: 5px;
    transition: transform 200ms;
}

.chat-list li:hover {
    background: #000000;
    transform: scale(0.9);
}

/* RIGHT SIDE */

.right-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: var(--margin);
    border: none;
}

.right-container h2 {
    margin-left: var(--margin);
    flex: 2;
}

.message-container {
    display: flex;
    margin: var(--margin);
    background-color:#000000;
    border-radius: 5px;
    overflow-y: scroll;
    flex-direction: column;
}

right-container > message-container{
    height: 80%;
    width: 100%;
}

.new-message {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.new-message input{
    margin: var(--margin);
    padding: var(--padding);
}

.new-message button{
    margin: var(--margin);
    padding: var(--padding);
}

.message {
    position: relative;  /* For time label positioning */
    display: block;
    width: fit-content;
    max-width: 50%;
    overflow-wrap: anywhere;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    margin: var(--margin);
    color: #fff;
}

.message.sent {
    background-color: #556886;
    align-self: flex-end;
}


.message.received {
    background-color: #2e2e2e;
    align-self: flex-start;
}

.message-text {
    margin: 0 2.5em 0 0; /* Margin to the right so the time is not displayed on top of the text */
}

.message-time {
    font-size: 0.8em; /* Smaller font size for the time */
    color: #ccc; /* Lighter color for the time */
    position: absolute; /* Position it absolutely */
    bottom: 5px; /* Position it at the bottom */
    right: 10px; /* Align it to the right */
}

.delete-button {
    position: absolute;
    top: .6em;
    right: .4em;
    background-color: transparent;
    border: none;
    color: #ff4d4d;
    cursor: pointer;
    font-size: 0.8em;
    display: none; /* Hide the button by default */
}

.message:hover .delete-button {
    display: block; /* Show the button on hover */
}