body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #214058, #2e67be, #214058);
	margin: auto;

}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.box{
    width: 350px;
	height: 500px;
	background: white;
	border-radius: 5px;
	box-shadow: 5px 20px 100px #000;
}

label{
	color: white;
	justify-content: center;
	display: flex;
	margin: 2%;
	font-weight: bold;
	cursor: pointer;
}

input{
	width: 50%;
	height: 20px;
	background: #bcd7ff;
	justify-content: center;
	display: flex;
	margin: 5% auto;
	padding: 2%;
	border: none;
	border-radius: 5px;
}

button{
	width: 50%;
	height: 40px;
	margin: 5% auto;
	justify-content: center;
	display: block;
	color: #fff;
	border: none;
	border-radius: 5px;
	background: #217aff;
	cursor: pointer;
	transition: transform 250ms;
}

button:hover {
    background-color: #0040a0;
	transform: scale(1.1);
}

img{
	padding-top: 12%;
	padding-bottom:5%;
	justify-content: center;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 80%;
}


