body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #264b67, #4682B4, #264b67);
}

.main{
    width: 350px;
	height: 500px;
	background: white;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

.register{
	position: relative;
	width:100%;
	height: 100%;
}

label{
	color: #fff;
	justify-content: center;
	display: flex;
	margin: 2%;
	font-weight: bold;
	cursor: pointer;
}

input{
	width: 60%;
	height: 20px;
	background: #bcd7ff;
	justify-content: center;
	display: flex;
	margin: 5% auto;
	padding: 2%;
	border: none;
	outline: none;
	border-radius: 5px;
}

button{
	width: 60%;
	height: 40px;
	margin: 5% auto;
	justify-content: center;
	display: block;
	color: #fff;
	border: none;
	border-radius: 20px;
	background: #217aff;
	cursor: pointer;
}

img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}
