
select {
    position: fixed;  
    bottom: 5%;     
    right: 5%;      
    padding: 10px;    
    font-size: 16px;  
    z-index: 1000;    
    border: none;
    border-radius: 5px;
}


/* wave animation */

.wave {
    background: white;
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 14em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.5;
    bottom: 0;
    left: 0;
    z-index: -5;
}

.wave:nth-of-type(2) {
    bottom: -1em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.7;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 1;
}

@keyframes wave {
    2% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-25%);
    }
    50% {
        transform: translateX(-50%);
    }
    75% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(0);
    }
}

/* overall design */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;   /*stops scrolling*/
    overflow: hidden;
}

.box {
    width: 90%;
    max-width: 500px;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 20px 100px #000;
    margin: 60px;
    padding: 60px;
    box-sizing: border-box;
}

label {
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

input {
    width: calc(100% - 15px);
    height: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
	text-align: center;
}

input::placeholder{
	text-align: center;
 }

.button-group {
    display: flex;
    justify-content: space-evenly;
}

button {
    flex: 1;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 200ms;
	margin-left: 10px;
	margin-right: 5px;
}

button:hover {
    transform: scale(1.1);
}

img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto 20px;
}

/* blue design*/

body.blue{
    background: linear-gradient(to bottom, #214058, #2e67be, #214058);
}

input.blue{
    background: rgb(189, 215, 255);
}

input.blue::placeholder{
    color: #2e67be;
}

button.blue{
    background: #217aff;
}

button.blue:hover{
    background-color: #0040a0;
}

/* yellow design */

body.yellow {
    background: linear-gradient(to bottom, #82761c, #ffe837, #82761c);
}

input.yellow {
    background: #fff296;
}

input.yellow::placeholder{
	color: #d0b700;
 }

button.yellow {
    background: #ffe837;
}

button.yellow:hover {
    background-color: #d0b700;
}

